body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
select,
input[type="date"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 5px;
}

select {
    appearance: none;
    background-image: linear-gradient(45deg, transparent 50%, #ccc 50%), linear-gradient(135deg, #ccc 50%, transparent 50%);
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px);
    background-size: 5px 5px, 5px 5px;
    background-repeat: no-repeat;
    padding-right: 30px;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

button[type="submit"]:hover {
    background-color: #45a049;
}
.side-nav {
    width: 260px;
    height: 95vh;
    position: fixed;
    top: 55px;
    left: -260px; /* Initially hide the side nav off-screen */
    background-color: #f2f2f2;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    transition: left 0.3s ease; /* Smooth transition for side nav */
}

.side-nav ul {
    list-style-type: none;
    padding: 0;
}

.side-nav ul li {
    margin-bottom: 10px;
}

.side-nav a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 8px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.side-nav a:hover {
    background-color: #ddd;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
    header .container {
        width: 100%; /* Adjust header width for smaller screens */
    }

    .main-content {
        padding: 10px;
        margin-left: 0; /* No margin on smaller screens */
        width: 100%; /* Full width on smaller screens */
    }

    .side-nav {
        width: 220px;
        left: -220px; /* Initially hide the side nav off-screen */
        
    }

    .main-content {
        margin-left: 0; /* No margin on smaller screens */
    }

    #formToggleButton {
        width: 95%; /* Adjust button width for smaller screens */
    }

    /* Show side nav when toggled */
    .side-nav.open {
        left: 0;
    }
}
@media (min-width: 769px) {
    .side-nav {
        left: 0; /* Display side nav by setting left to 0 */
    }
}


