/* Reset default styles */


.actionButton {
    display: inline-block;
    padding: 8px 12px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.editButton {
    background-color: #28a745; /* Green */
    color: #fff;
    border: none;
}

.deleteButton {
    background-color: #dc3545; /* Red */
    color: #fff;
    border: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header styles */
header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fade;
    color: #333;
    padding: 20px 20px 10px 20px; /* Increase top padding for more space */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

header h1 {
    margin: 0;
    font-size: 28px;
}

header nav {
    display: flex;
    align-items: center;
}

header nav a {
    text-decoration: none;
    color: #666;
    padding: 8px 12px;
    margin-right: 10px;
    transition: color 0.3s ease;
}

header nav a:nth-child(1),
header nav a:nth-child(2) {
    margin-right: 20px; /* Reduce margin for Home and Shop links */
}

header #login-icon {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

header #login-icon:hover {
    background-color: #45a049;
}

/* Main Content styles */
.main-content {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: 260px; /* Adjusted margin to account for side nav width */
    width: calc(100% - 280px); /* Calculate the width to fill available space (280px for side nav and margin) */
    
}

/* Plant Database table styles */
#plantTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#plantTable th,
#plantTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#plantTable img {
    max-width: 100px;
    max-height: 100px;
}

/* Toggle Form button style */
#formToggleButton {
    margin: 20px auto;
    display: block;
    width: 100%;
    padding: 12px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#formToggleButton:hover {
    background-color: #318635;
}

/* Side Navigation styles */
.side-nav {
    width: 260px;
    height: 95vh;
    position: fixed;
    top: 55px;
    left: -260px; /* Initially hide the side nav off-screen */
    background-color: #f2f2f2;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    transition: left 0.3s ease; /* Smooth transition for side nav */
}

.side-nav ul {
    list-style-type: none;
    padding: 0;
}

.side-nav ul li {
    margin-bottom: 10px;
}

.side-nav a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 8px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.side-nav a:hover {
    background-color: #ddd;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
    header .container {
        width: 100%; /* Adjust header width for smaller screens */
    }

    .main-content {
        padding: 10px;
        margin-left: 0; /* No margin on smaller screens */
        width: 100%; /* Full width on smaller screens */
    }

    .side-nav {
        width: 220px;
        left: -220px; /* Initially hide the side nav off-screen */
        
    }

    .main-content {
        margin-left: 0; /* No margin on smaller screens */
    }

    #formToggleButton {
        width: 95%; /* Adjust button width for smaller screens */
    }

    /* Show side nav when toggled */
    .side-nav.open {
        left: 0;
    }
}
@media (min-width: 769px) {
    .side-nav {
        left: 0; /* Display side nav by setting left to 0 */
    }
}

.total-info {
    margin-top: 20px; /* Add space above the total info section */
    text-align: center; /* Center-align the content */
    background-color: #f0f0f0; /* Background color for the total info section */
    padding: 15px; /* Add padding around the content */
}

.total-info p {
    font-size: 18px; /* Increase font size for total quantity and total value */
    margin-bottom: 10px; /* Add space below each paragraph */
}



h1 {
    text-align: center;
    color: #333;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
